<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>BLUE Review Platform</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# Load bootstrap #}
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'login' %}">BLUE Review Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
     
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="#">Applications</a>
        <a class="nav-item nav-link" href="#">Reviews</a>
        
        {% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Upload Applications</a>
            <a class="dropdown-item" href="#">Upload Reviews</a>
            <a class="dropdown-item" href="#">Review Index</a>
          </div>
        </li>
        {% endif %}
      </div>
      <span class="navbar-text mr-sm-4">
        Logged in as {{ user.get_username }}
      </span>
      <a class="btn btn-outline-light" href="{% url 'logout'%}" role="button">Logout</a>
    </div>  
    {% endif %}

  </nav>  

  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-sm-2 border-right">
      {% block sidebar %}
        <ul class="sidebar-nav">
        {% if user.is_authenticated %}
          <li>User: {{ user.get_username }}</li>
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
        {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
        {% endif %} 
        </ul>

        {% if user.is_authenticated %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'application-index' %}">Application Home</a></li>
          <li><a href="{% url 'application-list' %}">Application Listing</a></li>
          <li><a href="{% url 'review-index' %}">Review Home</a></li>
        </ul>

        <ul class="sidebar-nav">
          {% if perms.application.can_upload %}
          <li><a href="{% url 'application-upload' %}">Application Upload</a></li>
          {% endif %}
          {% if perms.review.can_view_list %}
          <li><a href="{% url 'review-list' %}">Review Listing</a></li>
          {% endif %}
        </ul>

        <a href="{% url 'admin:index' %}">Administration Portal</a>
        {% endif %}
     {% endblock %}
      </div> -->
      <div class="col-sm-8 mx-auto" style="margin-top: 1em">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>